force-app/main/default/flows/ACE_Function_for_Contact_Job_Title.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Function_on_Contact</name>
        <label>Update Function on Contact</label>
        <locationX>830</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>$Record.Function__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Function_Records.Function__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckFunctionNull</name>
        <label>CheckFunctionNull</label>
        <locationX>529</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckFunctionNull1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Function_Records.Function__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Function_on_Contact</targetReference>
            </connector>
            <label>CheckFunctionNull1</label>
        </rules>
    </decisions>
    <interviewLabel>ACE Function for Contact Job Title {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACE Function for Contact Job Title</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Function_Records</name>
        <label>Function Records</label>
        <locationX>197</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckFunctionNull</targetReference>
        </connector>
        <filters>
            <field>Job_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Title__c</elementReference>
            </value>
        </filters>
        <object>Function__c</object>
    </recordLookups>
    <startElementReference>Function_Records</startElementReference>
    <status>Active</status>
</Flow>
