force-app/main/default/flows/Add_Existing_Contact_on_CTA_in_case_of_Service_CTA_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Contact_on_the_CTA_Record</name>
        <label>Assign Contact on the CTA Record</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Records_to_be_mapped_to_CTA.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_the_CTA_Contact_is_Null</name>
        <label>Check if the CTA Contact is Null</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_the_CTA_Contact_is_Null_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_on_the_CTA_Record</targetReference>
            </connector>
            <label>Check if the CTA Contact is Null or not</label>
        </rules>
    </decisions>
    <interviewLabel>Add Existing Contact on CTA in case of Service CTA 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Existing Contact on CTA in case of Service CTA 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact_Records_to_be_mapped_to_CTA</name>
        <label>Contact Records to be mapped to CTA</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_CTA_Contact_is_Null</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <startElementReference>Contact_Records_to_be_mapped_to_CTA</startElementReference>
    <status>Active</status>
</Flow>
