force-app/main/default/flows/Ecom_Orders_Count_On_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Total_Ecom_Order_Count</name>
        <label>Total Ecom Order Count</label>
        <locationX>263</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>TotalEcomOrderCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>curContactEcomOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countEcomOrders</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Ecom Order Count On Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ecom Orders Count On Contact</label>
    <loops>
        <name>countEcomOrders</name>
        <label>countEcomOrders</label>
        <locationX>257</locationX>
        <locationY>285</locationY>
        <assignNextValueToReference>EcomOrder</assignNextValueToReference>
        <collectionReference>curContactEcomOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Ecom_Order_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ecom_Order_Count</name>
        <label>Get Ecom Order Count</label>
        <locationX>250</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countEcomOrders</targetReference>
        </connector>
        <filters>
            <field>Customer_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order_Information__c</object>
        <outputReference>curContactEcomOrders</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Records</name>
        <label>Update Contact Records</label>
        <locationX>529</locationX>
        <locationY>281</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ecom_Order_Count__c</field>
            <value>
                <elementReference>TotalEcomOrderCount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Get_Ecom_Order_Count</startElementReference>
    <status>Active</status>
    <variables>
        <name>curContactEcomOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Information__c</objectType>
    </variables>
    <variables>
        <name>curContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EcomOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Information__c</objectType>
    </variables>
    <variables>
        <name>TotalEcomOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
