force-app/main/default/flows/Lead_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Opportunity_in_List</name>
        <label>Add Opportunity in List</label>
        <locationX>43</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>OpportunityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Opportunity_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Recpord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddallCTAs</name>
        <label>AddallCTAs</label>
        <locationX>588</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>AllCTAstoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CTA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CTA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Opportunities</name>
        <label>Assign values to Opportunities</label>
        <locationX>147</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>get_Opportunity_Record.Contact2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Opportunity_Record.from_Code_updated_Inserted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>From Lead flow updated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Opportunity_Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Close_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_in_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CTA_records</name>
        <label>Update CTA records</label>
        <locationX>960</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>CTA.Customer_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddallCTAs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Lead_field_opportunity_Values</name>
        <label>Check Lead field opportunity Values</label>
        <locationX>231</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Opportunity_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_Opportunities</targetReference>
            </connector>
            <label>Check Opportunity Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Converted_Leads</name>
        <label>Converted Leads</label>
        <locationX>645</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Conversion_Logic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TradeIndia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amplify_Lead_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_CTA_s_related_to_Lead</targetReference>
            </connector>
            <label>Lead Conversion Logic</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Flow</label>
    <loops>
        <name>CTA</name>
        <label>CTA</label>
        <locationX>721</locationX>
        <locationY>289</locationY>
        <collectionReference>Get_all_CTA_s_related_to_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_CTA_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ALL_CTAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_CTA_s_related_to_Lead</name>
        <label>Get all CTA&apos;s related to Lead</label>
        <locationX>917</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CTA</targetReference>
        </connector>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CTA__c</object>
    </recordLookups>
    <recordLookups>
        <name>get_Opportunity_Record</name>
        <label>get Opportunity Record</label>
        <locationX>442</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lead_field_opportunity_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CloseDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_ALL_CTAs</name>
        <label>Update ALL CTAs</label>
        <locationX>441</locationX>
        <locationY>347</locationY>
        <connector>
            <targetReference>get_Opportunity_Record</targetReference>
        </connector>
        <inputReference>AllCTAstoupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Recpord</name>
        <label>Update Opportunity Recpord</label>
        <locationX>48</locationX>
        <locationY>392</locationY>
        <inputReference>OpportunityList</inputReference>
    </recordUpdates>
    <startElementReference>Converted_Leads</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AllCTAstoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTA__c</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
