force-app/main/default/flows/Order_Count_On_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Total_Order_Count</name>
        <label>Total Order Count</label>
        <locationX>260</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>TotalOrderCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>curContactOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countOrders</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Order Count On Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Count On Contact</label>
    <loops>
        <name>countOrders</name>
        <label>countOrders</label>
        <locationX>256</locationX>
        <locationY>291</locationY>
        <assignNextValueToReference>Order</assignNextValueToReference>
        <collectionReference>curContactOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Order_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Records</name>
        <label>Get Order Records</label>
        <locationX>252</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countOrders</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curContactId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>curContactOrders</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>494</locationX>
        <locationY>275</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Offline_Order_Count__c</field>
            <value>
                <elementReference>TotalOrderCount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Get_Order_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>curContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curContactOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>TotalOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
