force-app/main/default/flows/Sampling_CTA_Assignment_to_IST.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_IST_User_to_CTA_Record</name>
        <label>Assign IST User to CTA Record</label>
        <locationX>774</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IST_Pincodes.User__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Sampling_Assigned_to_IST</name>
        <label>Sampling - Assigned to IST</label>
        <locationX>516</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IST_Pincodes.User__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Pincodes_in_User_Pincode_Mapping_Object</name>
        <label>Check Pincodes in User Pincode Mapping Object</label>
        <locationX>511</locationX>
        <locationY>144</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pincode_not_empty</name>
            <conditionLogic>(1 OR 3 ) AND 2 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>IST_Pincodes.Pincode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Lead__r.PostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sampling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IST_Pincodes.Pincode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Customer_Contact__r.MailingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IST_Pincodes.Pincode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IST_User_to_CTA_Record</targetReference>
            </connector>
            <label>Pincode not empty</label>
        </rules>
        <rules>
            <name>Check_Sampling_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IST_Pincodes.Pincode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Lead__r.PostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sampling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sampling_Assigned_to_IST</targetReference>
            </connector>
            <label>Check Sampling address</label>
        </rules>
    </decisions>
    <interviewLabel>Sampling CTA Assignment to IST {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sampling CTA Assignment to IST</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>IST_Pincodes</name>
        <label>IST Pincodes</label>
        <locationX>225</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pincodes_in_User_Pincode_Mapping_Object</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127F000000BljeQAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pincode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.PostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pincode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Contact__r.MailingPostalCode</elementReference>
            </value>
        </filters>
        <object>User_Pincode_Mapping__c</object>
    </recordLookups>
    <startElementReference>IST_Pincodes</startElementReference>
    <status>Obsolete</status>
</Flow>
