force-app/main/default/flows/State_Code_on_Project_For_Ace.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Status_Code_on_the_Project</name>
        <label>Add Status Code on the Project</label>
        <locationX>765</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Code_state_ace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Codes.Internal_Code__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_the_State_Code_is_present</name>
        <label>Check if the State Code is present</label>
        <locationX>488</locationX>
        <locationY>414</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Internal_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Codes.Internal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Status_Code_on_the_Project</targetReference>
            </connector>
            <label>Check Internal Code</label>
        </rules>
    </decisions>
    <description>Using Metadata values for State update State Code on Project</description>
    <interviewLabel>State Code on Project For Ace {!$Flow.CurrentDateTime}</interviewLabel>
    <label>State Code on Project For Ace</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_State_Codes</name>
        <label>Get State Codes</label>
        <locationX>197</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_State_Code_is_present</targetReference>
        </connector>
        <filters>
            <field>Internal_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </filters>
        <object>State__mdt</object>
    </recordLookups>
    <startElementReference>Get_State_Codes</startElementReference>
    <status>Active</status>
</Flow>
